body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
    color: #555;
    height: 100px;
}

.logo {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.title-and-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #87b988;
    color: #fff;
    border: 1px solid #254326;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #45a049;
    border-color: #45a049;
}



.container {
    max-width: 1100px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

.search-section {
    float: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-section input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-section button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #78b07a;
    color: #fff;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.medicine-list {
    flex: 1;
    width: 70%;
    flex-direction: column;
    
}

.articles {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    max-height: 250px;
    overflow-y: auto;

  }
  
  /* Styles de la barre de défilement pour le conteneur des articles */
  .articles::-webkit-scrollbar {
    width: 8px;
    background-color:  #96cc98;
  }
  
  .articles::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

.medicine-list table {
    width: 100%;
    max-height: 250px; /* Choisissez la hauteur maximale souhaitée */
    overflow-y: auto; 
    border-collapse: collapse;
    margin-bottom: 20px;
}

.medicine-list th, .medicine-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.medicine-list th {
    background-color: #4caf50;
    color: #fff;
}



a.modern-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #90c08e; /* Use your desired background color */
    color: #fff; /* Text color */
    border: 1px solid #246134; /* Border color */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */

}

a.modern-link:hover {
    background-color: #4caf50; /* Change background color on hover */
    border-color: #4caf50; /* Change border color on hover */
    color: #fff; /* Change text color on hover */
}


.authentication-section {
    width: 30%; 
    padding: 20px;
    max-height: 250px;
    box-sizing: border-box;
    background-color: #4caf50;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
    float: right;
}

.authentication-section form {
    margin-bottom: 20px;
}

.authentication-section label {
    display: block;
    margin-bottom: 10px;
}

.authentication-section input {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.authentication-section button {
    background-color: #fff;
    color: #4caf50;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-section {
   float: left;
    width: 60%;
    margin-left: 20px;
}

.cart-section h2 {
    margin-bottom: 20px;
    color: #4caf50;
}

.cart-section ul {
    list-style: none;
    padding: 0;
}

.cart-section li {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    color: #555;
}

.total-section {
    float: right;
    width: 20%;
    margin-top: 40px;
    margin-left: 120px;
   
}

.total-section label, .cart-section label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.total-section input, .cart-section input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#changeAmount {
    margin-top: 20px;
    color: #333;
}

.interaction-message{
    color: white;
    background-color: red;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}

.interaction-warning {
    color: black;
    background-color: yellow;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}
.validation-section {
    margin-top: 20px; /* Espace entre le montant restant et le bouton de validation */
}

.validation-section button {
    padding: 10px 15px;
    background-color: #357c37; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
}

.validation-section button:hover {
    background-color: #a08245; 
}

/* Style pour les boutons "+" et "-" */
.quantity-buttons a {
display: inline-block;
 margin: 0 5px;
text-decoration: none;
background-color: #4CAF50;
 color: white;
border: 1px solid #4CAF50;
 border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.quantity-buttons a:hover {
 background-color: #de8e63;
}